html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	border-collapse: collapse;
}

body {
  background-color: #fff;
  font: 100%/1.6 "Myriad Pro", Helvetica, Arial, sans-serif;
  min-width: 980px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

span.icon {
	background: url(/images/link_icon.gif) no-repeat right;
	padding-right: 7px;
	padding-bottom: 3px;
}

h1 {
	font-size: 144%;
}

h2 {
	font-size: 120%;
}

h3 {
	font-size: 120%;
	color: #009234;
}

div.wrapper {
  width: 980px;
  margin: 0 auto;
}

div#head {
	height: 8.3ex;
	background: url(/images/top_menu_bg.gif) no-repeat bottom;
	text-align: right;
	padding-top: 4.4ex;
	line-height: 1.2;
}

div#head a {
	color: #999;
}

div#head img {
	margin-top: -13px;
}

div#head ul#top_menu {
	list-style: none;
	overflow: hidden;
	float: right;
}

div#head ul#top_menu li {
	float: left;
	padding: 0 1em;
}

div#head ul#top_menu li + li {
	border-left: 1px solid #ccc;
}

div#body {
  margin-top: 2ex;
  overflow: hidden;
  margin-bottom: 5ex;
}

div#left {
	width: 170px;
	float: left;
}

div#categories h3 {
	padding-left: 18px;
	background: url(/images/category_icon.gif) no-repeat 2px .4em;
}

div#categories a {
	color: #666;
	display: block;
}

div#categories ul {
	list-style: none;
	font-size: 10pt;
}

div#categories ul li {
	padding-top: 4px;
	padding-left: 7px;
}

div#categories ul li.leaf {
	padding-top: 3px;
	margin-left: -7px;
}

div#categories ul li.leaf:hover {
	background-color: #f9f9f9;
}

div#categories li.close, div#categories li.open {
	background: url(/images/menu_item_bg.gif) no-repeat;
}

div#categories li.open li + li {
	border-top: 1px solid #eee;
}

div#content {
	min-height: 48ex;
	_height: 48ex;
	width: 590px;
	float: left;
	padding-left: 24px;
}

div#content p {
	margin-right: 12px;
}

div#content p.nav {
	color: #999;
	font-size: 80%;
	margin-top: .3em;
	margin-bottom: .7em;
	border-bottom: 1px dashed #999;
	line-height: 1.4;
}

div#content p.nav a {
	color: #999;
	text-decoration: none;
}

div#content p.nav a:hover {
	text-decoration: underline;
}

div#filters {
	margin-bottom: .7em;
}

div#right {
	width: 180px;
	/*margin-left: 794px;*/
	float: right;
}

div#cart h3 {
	padding-left: 20px;
	background: url(/images/cart_icon.gif) no-repeat 2px .4em;
}

div#cart .title a {
	color: #999;
}

div#footer {
  color: #fff;
  clear: both;
}

div#footer p {
  font-size: 80%;
}

div#foot_info {
  background-color: #009234;
  height: 20ex;
}

div#foot_info div.wrapper div {
  width: 218px;
  height: 16ex;
  padding: 2px 15px 2px 0;
  float: left;
  margin: 2ex 0;
}

div#foot_info div.wrapper div + div {
	padding-left: 15px;
}

div#foot_info div h3 {
  color: #aff19c;
  margin-bottom: .5em;
}

div#foot_info div + div {
  border-left: 1px solid #fff;
}

div#footer div#copy {
  background-color: #006929;
  padding: .7em 1em;
	color: #20a534;
	text-align: right;
}

div#cart td {
	padding: 0 .7em;
}

div#cart table {
	width: 100%;
	font-size: 80%;
}

div#cart tr.title {
	background-color: #f6f6f6;
}

div#cart tr.title td, div#cart tr.total td {
	padding-top: .3em;
}

div#cart tr.total td {
	color: #009234;
	border-top: 1px solid #009234;
	border-bottom: 1px solid #009234;
}

div#cart .checkout {
	font-size: 10pt;
	margin-top: .4em;
	display: block;
	text-align: right;
}

div#cart .checkout a {
	color: #000;
}

div.product {
	width: 166px;
	overflow: hidden;
	float: left;
	margin: 12px 12px 28px 0;
	padding: 4px 8px;
	border: 1px solid #ddd;
}

div.product h2 a {
	position: absolute;
	width: 166px;
	color: #009234;
	display: block;
	height: 160px;
}

div#products div.product h2 {
	font-size: 11pt;
	margin-bottom: 2em;
}

div.product img {
	display: block;
	margin: 10px auto;
}

div.product span, body#product span {
	text-align: right;
	display: block;
	line-height: 1.3;
}

div.product span.price, body#product div#content span.price {
	font-size: 9pt;
	color: #999;
}

div.product span.bigprice, body#product div#content span.bigprice {
	color: #009234;
	display: block;
}

div.product form input {
	position: absolute;
	z-index: 10;
	margin-top: 10px;
}

.right {
	text-align: right;
}

body#product div#content img {
	float: right;
	margin-right: 12px;
}

body#product div#content h2 {
	color: #999;
}

body#product div#content p {
	margin-bottom: 1em;
}

div#checkout-login {
	margin-bottom: 1.6em;
}

label {
	display: block;
	font-size: 11pt;
	color: #333;
}