<h3>košík</h3>
	<%- form_for :cart, :url => {:action => 'update_cart'}, :html => {:autocomplete => "off"} do |f| -%>
	<table> 
		<%= render :partial => 'cart_item', :collection => cart.items %>
		<%= submit_tag 'aktualizovat', :class => 'invisible' %>
	<tr class="total"> 
		<td>Celkem s DPH</td> 
		<td class="right"><%= currency(cart.total_price*1.19) %></td> 
	</tr> 
	</table>
	<%- end -%>

<span class="checkout icon"><%= link_to "Vytvořit objednávku", :action => "checkout" %></span>