<h3>košík</h3>
<table> 
	
	<%- form_tag :action => 'update_cart' do # TODO: :html => {:autocomplete => "off"} -%>
		<%= render :partial => 'cart_item', :collection => cart.items %>
	<%- end -%>
	
<tr class="total"> 
	<td>Celkem s DPH</td> 
	<td class="right"><%= currency(cart.total_price*1.19) %></td> 
</tr> 
</table> 

<span class="checkout icon"><%= link_to "Vytvořit objednávku", :action => "checkout" %></span>