	<div class="product">
		<h2><%= link_to h(product.title), :action => "product", :id => product %></h2>
		<span class="price"><%= currency(product.price) %></span>

		<%- form_remote_tag :url => add_to_cart_url(product) do -%>
			<%= submit_tag "Přidat do košíku" %>
		<%- end -%>
	</div>