<h2>Vítejte.</h2>

<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque vel tortor id sem venenatis fringilla. Phasellus pede dui, convallis non, commodo ac, rhoncus ac, nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc ut lacus. Etiam cursus egestas lectus. Aliquam cursus gravida ligula. Proin vitae elit. Cras venenatis augue vitae enim. Curabitur dolor quam, dapibus ut, egestas mollis, tempus eu, magna. Aliquam semper magna. Morbi tempus quam non augue. Aliquam ac nunc. Curabitur vel ligula eget lacus pharetra ultricies. Proin felis nibh, congue nec, porttitor id, rutrum quis, sapien.</p>

<div id="products">
	<%= render :partial => 'product', :collection => @products %>
</div>